@tailwind base;

body {
  @apply font-sans antialiased;
}

body.ReactModal__Body--open > div[aria-hidden="true"] {
  filter: blur(10px);
}

@tailwind components;

@tailwind utilities;

.grayscale-1 {
  filter: grayscale(1);
}

.blend-multiply {
  mix-blend-mode: multiply;
}

h1,
h2,
h3 {
  @apply font-serif font-normal;
}

#scrolling-navbar::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

#scrolling-navbar {
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
}

.airtable-markdown strong {
  @apply font-bold;
}
.airtable-markdown em {
  @apply italic;
}
.airtable-markdown ul {
  @apply list-disc pl-5;
}
.airtable-markdown ol {
  @apply list-decimal pl-5;
}
.airtable-markdown a {
  @apply font-bold text-primary-700;
}
.airtable-markdown a:hover {
  @apply underline;
}
